* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #17a398;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1;
}

.wrapper {
  background-color: #05204a;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75%;
}

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #17a398;
  padding: 17px 23px;
}

.link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #17a398;
  position: relative;
  z-index: 2;
}

.link1::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: -5px;
  background-color: #ffba08;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.link1:hover::after {
  height: 50%;
}

.link2::after {
  content: '';
  position: absolute;
  display: block;
  width: 25%;
  height: 1px;
  bottom: 0;
  background-color: #ffba08;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.link2:hover::after {
  width: 100%;
}

.btn1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffba08), color-stop(0, transparent));
  background-image: linear-gradient(90deg, #ffba08 50%, transparent 0);
  border: 1px solid #17a398;
  background-color: transparent;
  background-position: 100% 0;
  background-size: 220%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn1:focus {
  color: #ffba08;
  border-color: #ffba08;
  outline-color: #ffba08;
}

.btn1:hover {
  background-position: 0 100%;
  border-color: #ffba08;
  color: #ffffff;
}

.btn2 {
  background-image: -webkit-gradient(linear, right top, left top, color-stop(50%, #ffba08), color-stop(0, transparent));
  background-image: linear-gradient(270deg, #ffba08 50%, transparent 0);
  border: 1px solid #17a398;
  background-color: transparent;
  background-position: 0 100%;
  background-size: 220%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn2:focus {
  color: #ffba08;
  border-color: #ffba08;
  outline-color: #ffba08;
}

.btn2:hover {
  background-position: 100% 0;
  border-color: #ffba08;
  color: #ffffff;
}

.btn5 {
  background-color: transparent;
  position: relative;
  padding: 10px 13px;
}

.btn5::before, .btn5::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #ffba08;
  width: 0px;
  height: 0%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn5::before {
  top: 0;
  left: 0;
}

.btn5::after {
  bottom: 0;
  right: 0;
}

.btn5:hover::before, .btn5:hover::after {
  width: 2px;
  height: 75%;
}

.btn6 {
  background-color: transparent;
  position: relative;
  padding: 10px 13px;
}

.btn6::before, .btn6::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #ffba08;
  width: 0%;
  height: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn6::before {
  top: 0;
  right: 0;
}

.btn6::after {
  bottom: 0;
  left: 0;
}

.btn6:hover::before, .btn6:hover::after {
  width: 75%;
  height: 2px;
}

.btn7 {
  background-color: transparent;
  position: relative;
  padding: 10px 13px;
}

.btn7::before, .btn7::after {
  content: '';
  position: absolute;
  display: block;
  background-color: #ffba08;
  width: 0%;
  height: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn7::before {
  top: 0;
  right: 0;
}

.btn7::after {
  bottom: 0;
  left: 0;
}

.btn7--span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.btn7--span::after, .btn7--span::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #ffba08;
  width: 0px;
  height: 0%;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.btn7--span::before {
  top: 0;
  left: 0;
}

.btn7--span::after {
  bottom: 0;
  right: 0;
}

.btn7:hover::before, .btn7:hover::after {
  width: 100%;
  height: 2px;
}

.btn7:hover .btn7--span::after, .btn7:hover .btn7--span::before {
  width: 2px;
  height: 100%;
}

.loader {
  display: inline-block;
}

.loader1 {
  width: 150px;
  height: 150px;
  border-top: 10px solid #ffba08;
  border-radius: 50%;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loader1 2s linear infinite;
          animation: loader1 2s linear infinite;
}

.loader1::before, .loader1::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: -10px;
  width: 150px;
  height: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader1::before {
  border-radius: 50%;
  border-top: 10px solid #17a398;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.loader1::after {
  border-radius: 50%;
  border-top: 10px solid #a4243b;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}

.loader1 span {
  -webkit-animation: loader1text 2s linear infinite;
          animation: loader1text 2s linear infinite;
}

.loader2 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.loader2 span {
  border-radius: 50%;
  display: inline-block;
  border: 2px solid;
  width: 30px;
  height: 30px;
  -webkit-animation: loader2 1.5s infinite;
          animation: loader2 1.5s infinite;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader2 span:nth-child(1) {
  border-color: #ffba08;
}

.loader2 span:nth-child(2) {
  border-color: #17a398;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader2 span:nth-child(3) {
  border-color: #a4243b;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes loader1 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader1 {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader1text {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes loader1text {
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes loader2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes loader2 {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */