* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cBlue: #05204a;
$cGreen: #17a398;
$cYellow: #ffba08;
$cCherry: #a4243b;
$cWhite: #ffffff;

body {
    color: $cGreen;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.wrapper {
    background-color: $cBlue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $cGreen;
    padding: 17px 23px;
}

.link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: $cGreen;
    position: relative;
    z-index: 2;
}

.link1 {
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -5px;
        background-color: $cYellow;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        &::after {
            height: 50%;
        }
    }
}
.link2 {
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 25%;
        height: 1px;
        bottom: 0;
        background-color: $cYellow;
        z-index: 1;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.btn1 {
    background-image: linear-gradient(90deg, $cYellow 50%, transparent 0);
    border: 1px solid $cGreen;
    background-color: transparent;
    background-position: 100% 0;
    background-size: 220%;
    transition: all 0.4s ease-in-out;
    &:focus {
        color: $cYellow;
        border-color: $cYellow;
        outline-color: $cYellow;
    }

    &:hover {
        background-position: 0 100%;
        border-color: $cYellow;
        color: $cWhite;
    }
}
.btn2 {
    background-image: linear-gradient(270deg, $cYellow 50%, transparent 0);
    border: 1px solid $cGreen;
    background-color: transparent;
    background-position: 0 100%;
    background-size: 220%;
    transition: all 0.4s ease-in-out;
    &:focus {
        color: $cYellow;
        border-color: $cYellow;
        outline-color: $cYellow;
    }

    &:hover {
        background-position: 100% 0;
        border-color: $cYellow;
        color: $cWhite;
    }
}

.loaders {
}

.loader {
    display: inline-block;
}

.loader1 {
    width: 150px;
    height: 150px;
    border-top: 10px solid $cYellow;
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: loader1 2s linear infinite;
    &::before,
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        left: 0;
        top: -10px;
        width: 150px;
        height: 150px;
        box-sizing: border-box;
    }
    &::before {
        border-radius: 50%;
        border-top: 10px solid $cGreen;
        transform: rotate(120deg);
    }
    &::after {
        border-radius: 50%;
        border-top: 10px solid $cCherry;
        transform: rotate(240deg);
    }
    span {
        animation: loader1text 2s linear infinite;
    }
}

@keyframes loader1 {
    to {
        transform: rotate(360deg);
    }
}
@keyframes loader1text {
    to {
        transform: rotate(-360deg);
    }
}
