* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$cBlue: #05204a;
$cGreen: #17a398;
$cYellow: #ffba08;
$cCherry: #a4243b;
$cWhite: #ffffff;

@mixin animate() {
    transition: all 0.4s ease-in-out;
}
@mixin pseudo() {
    content: '';
    position: absolute;
    display: block;
}

body {
    color: $cGreen;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    line-height: 1;
}

.wrapper {
    background-color: $cBlue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: $cGreen;
    padding: 17px 23px;
}

.link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: $cGreen;
    position: relative;
    z-index: 2;
}

.link1 {
    &::after {
        @include pseudo();
        width: 100%;
        height: 1px;
        bottom: -5px;
        background-color: $cYellow;
        z-index: 1;
        @include animate();
    }
    &:hover {
        &::after {
            height: 50%;
        }
    }
}
.link2 {
    &::after {
        @include pseudo();
        width: 25%;
        height: 1px;
        bottom: 0;
        background-color: $cYellow;
        z-index: 1;
        @include animate();
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.btn1 {
    background-image: linear-gradient(90deg, $cYellow 50%, transparent 0);
    border: 1px solid $cGreen;
    background-color: transparent;
    background-position: 100% 0;
    background-size: 220%;
    @include animate();
    &:focus {
        color: $cYellow;
        border-color: $cYellow;
        outline-color: $cYellow;
    }

    &:hover {
        background-position: 0 100%;
        border-color: $cYellow;
        color: $cWhite;
    }
}
.btn2 {
    background-image: linear-gradient(270deg, $cYellow 50%, transparent 0);
    border: 1px solid $cGreen;
    background-color: transparent;
    background-position: 0 100%;
    background-size: 220%;
    @include animate();
    &:focus {
        color: $cYellow;
        border-color: $cYellow;
        outline-color: $cYellow;
    }

    &:hover {
        background-position: 100% 0;
        border-color: $cYellow;
        color: $cWhite;
    }
}
.btn5 {
    background-color: transparent;
    position: relative;
    padding: 10px 13px;
    &::before,
    &::after {
        @include pseudo();
        background-color: $cYellow;
        width: 0px;
        height: 0%;
        @include animate();
    }
    &::before {
        top: 0;
        left: 0;
    }
    &::after {
        bottom: 0;
        right: 0;
    }
    &:hover {
        &::before,
        &::after {
            width: 2px;
            height: 75%;
        }
    }
}
.btn6 {
    background-color: transparent;
    position: relative;
    padding: 10px 13px;
    &::before,
    &::after {
        @include pseudo();
        background-color: $cYellow;
        width: 0%;
        height: 0px;
        @include animate();
    }
    &::before {
        top: 0;
        right: 0;
    }
    &::after {
        bottom: 0;
        left: 0;
    }
    &:hover {
        &::before,
        &::after {
            width: 75%;
            height: 2px;
        }
    }
}

.btn7 {
    background-color: transparent;
    position: relative;
    padding: 10px 13px;
    &::before,
    &::after {
        @include pseudo();
        background-color: $cYellow;
        width: 0%;
        height: 0px;
        @include animate();
    }
    &::before {
        top: 0;
        right: 0;
    }
    &::after {
        bottom: 0;
        left: 0;
    }
    &--span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        &::after,
        &::before {
            @include pseudo();
            background-color: $cYellow;
            width: 0px;
            height: 0%;
            @include animate();
            transition-delay: 0.4s;
        }
        &::before {
            top: 0;
            left: 0;
        }
        &::after {
            bottom: 0;
            right: 0;
        }
    }
    &:hover {
        &::before,
        &::after {
            width: 100%;
            height: 2px;
        }
        .btn7--span {
            &::after,
            &::before {
                width: 2px;
                height: 100%;
            }
        }
    }
}

.loaders {
}

.loader {
    display: inline-block;
}

.loader1 {
    width: 150px;
    height: 150px;
    border-top: 10px solid $cYellow;
    border-radius: 50%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: loader1 2s linear infinite;
    &::before,
    &::after {
        @include pseudo();
        left: 0;
        top: -10px;
        width: 150px;
        height: 150px;
        box-sizing: border-box;
    }
    &::before {
        border-radius: 50%;
        border-top: 10px solid $cGreen;
        transform: rotate(120deg);
    }
    &::after {
        border-radius: 50%;
        border-top: 10px solid $cCherry;
        transform: rotate(240deg);
    }
    span {
        animation: loader1text 2s linear infinite;
    }
}

.loader2 {
    display: inline-flex;
    align-items: center;
    width: 120px;
    justify-content: space-around;
    span {
        border-radius: 50%;
        display: inline-block;
        border: 2px solid;
        width: 30px;
        height: 30px;
        animation: loader2 1.5s infinite;
        animation-fill-mode: both;
        &:nth-child(1) {
            border-color: $cYellow;
        }
        &:nth-child(2) {
            border-color: $cGreen;
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            border-color: $cCherry;
            animation-delay: 0.4s;
        }
    }
}

@keyframes loader1 {
    to {
        transform: rotate(360deg);
    }
}
@keyframes loader1text {
    to {
        transform: rotate(-360deg);
    }
}
@keyframes loader2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
